{% include 'example/base.html' %}
{% include 'example/header.html' %}
{% load static %}

<form action="/Editor/Account/Register" class="shaped-form-extended account-form web-account-form" id="register-form" method="post"><input name="__RequestVerificationToken" type="hidden" value="0QWwwd68KYfmbTFic15HtJUY7bixlflS6hSJ9hpR5pv5eEfoOl4NLjY1QtJubBD9OErM9oSvmDGaoDYxwTvBxcMUAt000FlNRLkgBpDhX9s1" /><input id="Country" name="Country" type="hidden" value="" /><input id="IP" name="IP" type="hidden" value="" /><input id="userToken" name="userToken" type="hidden" value="" />    <div class="shaped-form-extended-block">
    <div class="shaped-form-extended-block-caption">
        <h3>Зарегистрируйся и делись новостями вместе с нами</h3>
    </div>
    <div class="shaped-form-extended-block-content">
        <div class="account-form-alert">
            
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" data-val="true" data-val-email="Enter a valid email address" data-val-regex="Enter a valid email address" data-val-regex-pattern="^[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*(\+[_A-Za-z0-9-]+)?@[\w-]+(\.[\w-]+)*(\.[\w]{2,})$" data-val-required="The Email Address field is required" id="Email" name="Email" placeholder="Enter a valid email address" type="text" value="" />
            <div><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></div>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" data-val="true" data-val-length="Passwords must be at least 6 characters long containing at least one numeric or special character." data-val-length-max="200" data-val-length-min="6" data-val-passwordregexcheck="Passwords must be at least 6 characters long containing at least one numeric or special character." data-val-passwordregexcheck-pattern="[\W\d]{1}" data-val-required="The Password field is required" id="Password" name="Password" placeholder="Password" type="text" />
            <div><span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span></div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="default-button" id="registerbutton">Sign Up</button>
            <div class="form-btn-link" style="margin-left: 15px; display: inline-block;">
<a class="dialog-link" href="/Editor/Account/LogOn" rel="nofollow">Have an account?</a>
            </div>
        </div>
        <br />
</div>
</form>