<!DOCTYPE html>
<html lang="ru">
    <head>

        <title>10,000+ шаблонов веб-сайтов | Бесплатные шаблоны веб-сайтов</title>
        <link rel="shortcut icon" href="//csite.nicepage.com/favicon.ico" type="image/x-icon">
        <meta charset="utf-8" />
        <meta name="Keywords" content="">
        <meta name="Description" content="Загрузите бесплатно самую большую коллекцию бесплатных шаблонов, макетов и тем веб-сайтов. 10,000+ идей дизайна веб-сайтов для вашего вдохновения. Адаптивные шаблоны веб-страниц.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://nicepage.com/ru/shablony-veb-saytov">
        <meta property="og:title" content="10,000+ шаблонов веб-сайтов | Бесплатные шаблоны веб-сайтов">
        <meta property="og:image" content="https://images01.nicepagecdn.com/page/29/72/ru/html-shablon-297240.jpg?version=63eaa0dc-253e-411d-9d24-4ca51bf25df0">
                        <meta property="og:description" content="Загрузите бесплатно самую большую коллекцию бесплатных шаблонов, макетов и тем веб-сайтов. 10,000+ идей дизайна веб-сайтов для вашего вдохновения. Адаптивные шаблоны веб-страниц.">
        <meta property="og:site_name" content="Nicepage.com" />

        

        
        
                <link rel="alternate" hreflang="en" href="https://nicepage.com/website-templates">
        <link rel="alternate" hreflang="de" href="https://nicepage.com/de/website-vorlagen">
        <link rel="alternate" hreflang="nl" href="https://nicepage.com/nl/website-sjablonen">
        <link rel="alternate" hreflang="fr" href="https://nicepage.com/fr/modeles-site">
        <link rel="alternate" hreflang="it" href="https://nicepage.com/it/modelli-web">
        <link rel="alternate" hreflang="es" href="https://nicepage.com/es/plantillas-web">
        <link rel="alternate" hreflang="pl" href="https://nicepage.com/pl/szablony-internetowe">
        <link rel="alternate" hreflang="pt" href="https://nicepage.com/pt/modelos-site">
        <link rel="alternate" hreflang="tr" href="https://nicepage.com/tr/web-sitesi-sablonlari">
        <link rel="alternate" hreflang="ru" href="https://nicepage.com/ru/shablony-veb-saytov">
        <link rel="alternate" hreflang="hu" href="https://nicepage.com/hu/weboldal-sablonok">
        <link rel="alternate" hreflang="cs" href="https://nicepage.com/cs/sablony-webove-stranky">
        <link rel="alternate" hreflang="sv" href="https://nicepage.com/sv/webbplatsmallar">




    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no,width=device-width">
    <link href="//fonts.googleapis.com/css?family=Roboto|Open+Sans:200,300,400,700,800,900&amp;subset=latin" rel="preload" as="font" />





<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=gMvRAs3fAumlgJZgROXzBPB360CliJ2OoPab70ARaEGXUEWjuv3dXBYmIQYSvWmsaTl7PwLo_454_tRwPR45dw" charset="UTF-8"></script><script>
    window.isAuthenticated = 0;
    window.clientUserId = 0;
    window.clientUserName = '';
    window.userCountryCode = '';
    window.logPageEvent = 1;
    window.userHasAdsParams = 0;
    window.utmSourceFromReferrer = 0;
    window.currentLang = 'ru';
    window.baseUrl = 'website-templates';
    window.currentUrl = 'shablony-veb-saytov';
    window.np_userId = '';
    window.isAmplitudeInitialized = false;
    window.sha256Email = '';

    function sendAnalyticsData(eventType, props, cb) {
        var json = { data: {} };
        json.userToken = np_userId;
        json.data.adsParams = $.cookie('AdsParameters');
        json.data.ga = $.cookie('_ga');
        json.data.gac = $.cookie('_gac_UA-88868916-2');
        json.data.userAgent = navigator.userAgent;
        json.data.eventType = eventType;
        json.data.props = props;
        $.ajax({
            'type': 'POST',
            'url': '/Feedback/SendAdsLog',
            'contentType': 'application/json; charset=utf-8',
            'data': JSON.stringify(json),
            'dataType': 'json',
            'complete': cb || function() {}
        });
    }

    function initializeAmplitudeUser() {
        if (isAmplitudeInitialized) {
            return;
        }
        isAmplitudeInitialized = true;

        if (clientUserId > 0)
        {
            identifyAmplitudeUser(clientUserId, clientUserName);
        }
        else
        {
            identifyAmplitudeUser(null);
        }
    }

    function sendAmplitudeAnalyticsData(eventName, eventProperties, userProperties, callback_function) {
        initializeAmplitudeUser();

        if (userProperties) {
            if(userProperties.utm_source || userProperties.utm_campaign) {
                var identify = new amplitude.Identify();
                identify.setOnce("utm_campaign", userProperties.utm_campaign);
                identify.setOnce("utm_source", userProperties.utm_source);
                identify.setOnce("utm_content", userProperties.utm_content);
                identify.setOnce("utm_term", userProperties.utm_term);
                identify.setOnce("utm_page", userProperties.utm_page);
                identify.setOnce("utm_page2", userProperties.utm_page);
                identify.setOnce("referrer", userProperties.referrer);

                amplitude.getInstance().identify(identify);

                userProperties.utm_source_last = userProperties.utm_source;
                userProperties.utm_campaign_last = userProperties.utm_campaign;
                userProperties.utm_content_last = userProperties.utm_content;
                userProperties.utm_term_last = userProperties.utm_term;
                userProperties.utm_page_last = userProperties.utm_page;
            }

            var userProps = objectWithoutProperties(userProperties, ["utm_campaign", "utm_source","utm_content", "utm_term", "utm_page", "referrer"]);
            amplitude.getInstance().setUserProperties(userProps);
        }

        eventProperties.WebSite = 'true';
        eventProperties.IsAuthenticated = window.isAuthenticated;
        eventProperties.country_code = getCountryCode();
        eventProperties.lang = window.currentLang || '';

        var fullPageUrl = window.location.pathname.split('?')[0];
        eventProperties.full_page_url = fullPageUrl;
        eventProperties.page_url = clearPageUrl(fullPageUrl);

        if (typeof callback_function === 'function') {
            amplitude.getInstance().logEvent(eventName, eventProperties, callback_function);
        } else {
            amplitude.getInstance().logEvent(eventName, eventProperties);
        }
    }

    function identifyAmplitudeUser(userId, token) {
        if (userId) {
            amplitude.getInstance().setUserProperties({
                "Token": token,
                "UserId": userId
            });
        }

        var identify = new amplitude.Identify();
        amplitude.getInstance().identify(identify);
        if (userId) {
            amplitude.getInstance().setUserId(userId);
        }
    }

    function sendAnalyticsFromUrl(referrer, pageType) {
        var hash = window.location.hash;

        var urlIsAvailable = typeof URL === "function" || (navigator.userAgent.indexOf('MSIE') !== -1 && typeof URL === 'object');
        if (!urlIsAvailable) {
            return;
        }

        var url = new URL(window.location.href);
        if (hash && hash.indexOf('utm_') >= 0) {
            url = new URL(window.location.origin + window.location.pathname + hash.replace('#', '?'));
        }

        if (!url.searchParams) {
            return;
        }

        var utmParams = getUtmParams(url);
        var gclidFromUrl = utmParams.gclid;
        var utmParamsFromUrl = !!utmParams.utmSource || !!utmParams.utmCampaign || !!utmParams.gclid;
        if (!utmParamsFromUrl && userHasAdsParams)
        {
            utmParams = getUtmParamsFromCookie();
        }

        var canLog = canLogToAmplitude();
        if (utmParamsFromUrl || utmSourceFromReferrer) {
            var fullPageUrl = window.location.pathname.split('?')[0];
            var pageUrl = clearPageUrl(fullPageUrl);
            var userProps = {
                "utm_source": utmParams.utmSource,
                "utm_campaign": utmParams.utmCampaign,
                "utm_content": utmParams.utmContent,
                "utm_term": utmParams.utmTerm,
                "utm_page": getUtmPageValue(pageUrl),
                "utm_lang": window.currentLang || '',
                "referrer": referrer
            };

            if (gclidFromUrl) {
                var landingUrl = pageUrl.startsWith('/') && pageUrl !== '/' ? pageUrl.substr(1) : pageUrl;
                userProps.landing_page = landingUrl;

                var event = {
                    'Page': landingUrl,
                    'Url': window.location.href,
                    'utm_campaign_event': utmParams.utmCampaign
                }
                sendAmplitudeAnalyticsData('Landing Page', event, userProps);
            } else {
                var eventProps = {
                    "utm_source": utmParams.utmSource,
                    "utm_campaign": utmParams.utmCampaign,
                    "utm_content": utmParams.utmContent,
                    "utm_term": utmParams.utmTerm
                };

                if (utmParams.utmSource === "elastic") {
                    sendAmplitudeAnalyticsData('Email Click', eventProps);
                }

                if (canLog) {
                    sendAmplitudeAnalyticsData('Campaign', eventProps, userProps);
                }
            }
        }

        if (logPageEvent && canLog || (pageType === 'Pricing Page' && !window.isForbiddenCountry())) {
            var pageEventProps = {
                'type': pageType,
                'accepted_country': isValidCountry(),
                'force_log': !canLog
            };

            sendAmplitudeAnalyticsData('Page View', pageEventProps);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        setCountryCode('https://location.nicepagesrv.com/country');
        setUserIdCookie();
        updatePageViewCounter();

        if (typeof gtag === 'function' && typeof canSendViewConversion === 'function' && window.isAuthenticated && canSendViewConversion()) {
            if (sha256Email) {
                gtag('set', 'user_data', { 'sha256_email_address': sha256Email });
            }
            //Event snippet for 2 Page View conversion page
            gtag('event', 'conversion', { 'send_to': 'AW-797221335/GbWrCJ6Ht5wYENfDkvwC', 'transaction_id': clientUserId });

            setAdsPageViewCookie();
        }

        var referrer = '';
        var pageType = 'Templates Page';
        sendAnalyticsFromUrl(referrer, pageType);

        if (location.href.indexOf('/frame/') === -1) {
            PureCookie.initCookieConsent({
                description: 'By using this website, you automatically accept that we use cookies. Learn more about our ',
                link: '<a href="https://nicepage.com/Privacy" target="_blank"> privacy and cookies policy</a>.',
                buttonCaption: "Accept",
                opacity: 0.88,
            });
        }
    });
</script>

<!--
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-KGP3NM3':true});</script>
-->    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-797221335"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        var options = {};
        var awOptions = { 'allow_enhanced_conversions': true };
        if (clientUserId > 0) {
            options.user_id = clientUserId;
            awOptions.user_id = clientUserId;
        }
        // gtag('config', 'GA_TRACKING_ID', { 'optimize_id': 'OPT_CONTAINER_ID'});
        gtag('config', 'AW-797221335', awOptions);
        gtag('config', 'G-T7WWB0T53W', options);
    </script>

<!-- Amplitude Code -->
<script type="text/javascript">
    (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script")
            ;r.type="text/javascript"
            ;r.integrity="sha384-d/yhnowERvm+7eCU79T/bYjOiMmq4F11ElWYLmt0ktvYEVgqLDazh4+gW9CKMpYW"
            ;r.crossOrigin="anonymous";r.async=true
            ;r.src="https://cdn.amplitude.com/libs/amplitude-5.2.2-min.gz.js"
            ;r.onload=function(){if(!e.amplitude.runQueuedFunctions){
                console.log("[Amplitude] Error: could not load SDK")}}
            ;var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i)
            ;function s(e,t){e.prototype[t]=function(){
            this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));return this}}
        var o=function(){this._q=[];return this}
            ;var a=["add","append","clearAll","prepend","set","setOnce","unset"]
            ;for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[]
                ;return this}
            ;var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"]
            ;for(var p=0;p<l.length;p++){s(c,l[p])}n.Revenue=c
            ;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId","groupIdentify","onInit","logEventWithTimestamp","logEventWithGroups","setSessionId","resetSessionId"]
            ;function v(e){function t(t){e[t]=function(){
                e._q.push([t].concat(Array.prototype.slice.call(arguments,0)))}}
            for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){
                e=(!e||e.length===0?"$default_instance":e).toLowerCase()
                    ;if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]}
            ;e.amplitude=n})(window,document);
    amplitude.getInstance().init("878f4709123a5451aff838c1f870b849");
</script>

<script>
var shareasaleSSCID=shareasaleGetParameterByName("sscid");function shareasaleSetCookie(e,a,r,s,t){if(e&&a){var o,n=s?"; path="+s:"",i=t?"; domain="+t:"",S="";r&&((o=new Date).setTime(o.getTime()+r),S="; expires="+o.toUTCString()),document.cookie=e+"="+a+S+n+i+"; SameSite=None;Secure"}}function shareasaleGetParameterByName(e,a){a||(a=window.location.href),e=e.replace(/[\[\]]/g,"\\$&");var r=new RegExp("[?&]"+e+"(=([^&#]*)|&|#|$)").exec(a);return r?r[2]?decodeURIComponent(r[2].replace(/\+/g," ")):"":null}shareasaleSSCID&&shareasaleSetCookie("shareasaleSSCID",shareasaleSSCID,94670778e4,"/");
</script>






<script src="//capp.nicepage.com/3f8e6a32b4dd8a3c07d6aa4753e7fd53b2db2301/templates-page-libs.js" defer></script>
<link href="//capp.nicepage.com/3f8e6a32b4dd8a3c07d6aa4753e7fd53b2db2301/templates-page-libs.css" rel="stylesheet" />


<!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->






        
        

        
    <meta itemprop="datePublished" content="2023-10-14">
    <meta itemprop="dateModified" content="2023-10-14">

    <link rel="canonical" href="https://nicepage.com/ru/shablony-veb-saytov"/>

        <link rel="next" href="https://nicepage.com:2443/ru/shablony-veb-saytov?page=2">

    <style>
        h1 {
            text-transform: capitalize;
            font-weight: bold;
            margin: 0 0 40px 0;
        }

        h2 {
            font-size: 32px;
        }

        h2 {
            font-size: 28px;
        }

        h2, h3 {
            text-transform: capitalize;
            margin: 40px 0 20px;
            text-align: center;
            font-weight: 600;
        }

        h1:first-letter, h2:first-letter, h3:first-letter {
            text-transform: capitalize;
        }

        h2.lang, h3.lang {
            text-transform: lowercase;
        }


        h2 > a, h2 > a:hover, h2 > a:focus {
            color: #333;
        }

        h2 > a:hover {
            text-decoration: none;
        }

        #main {
            margin-left: 0;
            margin-right: 0;
        }

        .navbar {
            margin-bottom: 0;
        }

        #top-navbar {
            position: sticky;
            top: 0;
            z-index: 200;
        }
        @media (min-width: 768px) {
            .search-input {
                width: 500px !important;
            }
        }
        .pages-content {
            max-width: 1920px;
            padding: 35px;
            margin: 0 auto;
        }

        .heading-container {
            padding: 10px;
            position: relative;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 350px;
            text-align: center;
            background-position: 50% 50%;
            border-radius: 10px;
        }

        .thumbnails-grid {
            margin-top: 30px
        }

        .thumbnails-grid h3 {
            margin: 0;
            font-size: 13px;
            line-height: 1.4;
            font-family: "Roboto", "Arial", "sans-serif";
        }

        .thumbnails-grid .one-row h3 {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .thumbnail:hover:after {
            cursor: zoom-in;
        }

        @media (max-width: 768px) {
            .heading-container {
                margin: 0 -15px;
            }
            .templates-block {
                padding: 0 20px;
            }
        }

        .heading-block {
            color: #fff;
            max-width: 630px;
            display: inline-block;
        }

        .page-builder.heading-block {
            max-width: 650px;
        }

        .heading-block form {
            position: relative;
            width: 90%;
            max-width: 500px;
            margin: 0 auto;
        }

        .heading-description {
            font-size: 14px;
            line-height: 1.5;
            margin-top: 20px;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .builder-page.heading-description {
            font-size: 16px;
            width: 95%;
        }

        .heading-description a {
            color: #fff;
        }

        .heading-description a:hover {
            text-decoration: none;
        }

        .block-slider .thumbnail-slider-list a[data-title] {
            padding: 31px 0 0;
        }

        .block-slider .thumbnail-slider-list a[data-title]:before {
            font-size: 18px;
            margin: -32px 0 0;
        }

        .gray-block {
            background-color: #f7f7f7;
            margin: 40px -35px 0 -35px;
            padding: 1px 35px 20px 35px;
        }

        .custom-block.gray-block {
            margin: 0 -35px;
        }

        .last-custom-block {
            max-width: 1920px;
            margin: 0 auto;
            padding: 30px;
            background-color: #f7f7f7;
            text-align: left;
        }

        .last-custom-block h2:first-child {
            margin: 0 0 20px;
        }
        .last-custom-block h2:not(:first-child) {
            margin: 30px 0 20px;
        }

        .last-custom-block p {
            line-height: 1.5;
            margin-bottom: 20px;
        }

        .last-updated-block {
            display: block;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .auto-suggest-keyword .auto-suggest-link {
            margin-left: 12px;
        }

        .ui-autocomplete-category {
            background-color:rgb(247, 247, 247);
            margin: 5px 0 !important;
            padding: 5px 20px 5px 5px !important;
            font-size: 14px;
            text-transform: uppercase;
        }

        .custom-download-section p, .templates-block p {
            max-width: 700px;
            margin: 20px auto;
            text-align: center;
            line-height: 1.6;
            font-size: 16px;
        }

        .custom-download-section.gray-block {
            margin-bottom: -40px;
        }

        .templates-block.gray-block p {
            margin: 0 auto;
            padding: 30px;
        }

        .search-form-container {
            margin-bottom: 20px;
        }

        .search-form-container form {
            width: 500px;
            margin: 0 auto;
            position: relative;
            max-width: 100%;
        }

        .keywords-slider-container .thumbnail-slider.keyword-slider {
            max-width: 100%;
            width: 100%;
            margin: 20px 0 0;
        }
    </style>
    <style>
        .heading-container {
            background-color: #53a865;
            background-size: cover;
        }

        @media (min-width: 576px) and (max-width: 1281px) {
            .heading-container {
                background-image: url('//csite.nicepage.com/Images/Site/free-website-templates-1200.jpg?v=4');
            }
        }
        @media (min-width: 1281px) and (max-width: 1700px) {
            .heading-container {
                background-image: url('//csite.nicepage.com/Images/Site/free-website-templates-1600.jpg?v=4');
            }
        }
        @media (min-width: 1700px) {
            .heading-container {
                background-image: url('//csite.nicepage.com/Images/Site/free-website-templates-1920.jpg?v=4');
            }
        }

        .search-btn {
            background-image: url('//csite.nicepage.com/Images/Site/icon-input-search.png');
        }
    </style>

    <script type="text/javascript">
        var submitSearchTimer = false;
        document.addEventListener("DOMContentLoaded", function() {
            var thumbSlider = $('.thumbnail-slider');
            thumbSlider.thumbnailSlider();

            $('#search-button').on('click', function (e) {
                e.preventDefault();
                var searchTerm = $('#search').val();
                if (canLogToAmplitude()) {
                    sendAmplitudeAnalyticsData('Page Search', { "Type": "Page", "Term": searchTerm });
                }
                setTimeout(function() {
                    $('#search-form').submit();
                }, 200);
                return false;
            });

            SearchController.init('https://np-index.nicepagesrv.com/api/');

            $("#key").catcomplete({
                source: function (request, response) {
                    SearchController.search({ q: request.term, lang: 'ru'},
                        function (err, result) {
                            if (err) {
                                alert(err);
                                return;
                            }
                            result = result.filter(r => r.items && r.items.length > 0);
                            response(result);
                    });
                },
                minLength: 1,
                select: function(event, ui) {
                    if (!ui.item) {
                        return;
                    }

                    if (canLogToAmplitude()) {
                        sendAmplitudeAnalyticsData('Page Search', { "Type": "Page", "Term": ui.item.value });
                    }
                    setTimeout(function() {
                        location.href = location.origin + ui.item.url;
                    }, 200);
                }
            });

            $(window).resize(function() {
                $("#search").autocomplete("close");
            });
        });

        function submitSearchForm(e) {
            e.preventDefault();
            clearTimeout(submitSearchTimer);
            submitSearchTimer = setTimeout(function() {
                $('#term').val($('#key').val().trim().replace(/\s+/g, ' '));
                $('#key').attr('disabled', true);
                $('#search-form').submit();
            }, 0);
            return true;
        }
    </script>



        <!--meta name="google-site-verification" content="91O3bL1ryXysP925e_KKodKSsrpDCHTmgGeH0IA-NbA" /-->
<!— Pinterest Tag —>
<!--
<script>
!function(e){if(!window.pintrk){window.pintrk = function () {
window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
      n=window.pintrk;n.queue=[],n.version="3.0";var
      t=document.createElement("script");t.async=!0,t.src=e;var
      r=document.getElementsByTagName("script")[0];
      r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
pintrk('load', '2619058937406', {em: '<user_email_address>'});
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
      src="https://ct.pinterest.com/v3/?tid=2619058937406&pd[em]=<hashed_email_address>&noscript=1" />
</noscript>
-->
<!— end Pinterest Tag —>

        

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                if (typeof IOlazy === 'function') {
                    var lazy = new IOlazy();
                }
            });
        </script>
        

    </head>
    <body>

        


        <div class="wrap wrap-fluid">
            <div id="top-navbar" class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand clearfix" href="https://nicepage.com"><img class="pull-left" width="123" height="40" alt="Nicepage.com" src="//csite.nicepage.com/Images/logo-w.png" /></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="logon-block nav navbar-nav nav-list navbar-left u-unstyled" style="font-size: 14px;">
                            <li class="dropdown">
                                <a href="/download">Скачать</a>
                            </li>
                            <li class="dropdown">
                                <a href="/features">300+ Функций</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle template-menu-item" href="/ru/html-shablony">10,000+ Шаблонов
    <span class="caret"></span></a>
	<ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
	    <li><a href="/ru/shablony-veb-saytov" class="templates-url" data-urls="ru/shablony-veb-saytov;ru/shablony">Шаблоны Веб-Сайтов</a></li>
	    <li><a href="/website-design">Дизайны Веб-сайтов</a></li>
	    <li><a href="/ru/wordpress-temy">WordPress Темы</a></li>
	    <li><a href="/ru/joomla-shablony">Joomla Шаблоны</a></li>
	    <li><a href="/ru/html-shablony" class="templates-url" data-urls="ru/html-shablony;ru/html5-shablon;ru/css-shablony">HTML Шаблоны</a></li>
	</ul>
</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    Конструкторы сайтов
                                    <span class="caret"></span>
                                </a>
                                <ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
                                    <li><a class="builder-link" href="/html-website-builder">HTML Конструктор сайтов</a></li>
                                    <li><a class="builder-link" href="/wordpress-website-builder">Конструктор сайтов WordPress</a></li>
                                    <li><a class="builder-link" href="/joomla-page-builder">Конструктор страниц Joomla</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="/premium">Премиум</a>
                            </li>
                            <li><a href="/forum">Форумы</a></li>
                            <li class="dropdown">
                                <a href="/blog">Блог</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Help<span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu dropdown-menu-hover u-unstyled">
                                    <li><a href="/doc">Документация</a></li>
                                    <!--li><a href="/live-demo">Запланировать личную демонстрацию</a></li-->
                                    <li><a href="/Forum/Topic/Create">Контактная поддержка</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="logon-block nav navbar-nav nav-list navbar-right u-unstyled">
                             
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">RU <span class="caret"></span></a>
                                        <ul class="dropdown-menu u-unstyled" role="menu">
                                                <li><a href="/website-templates">EN</a></li>
                                                <li><a href="/de/website-vorlagen">DE</a></li>
                                                <li><a href="/nl/website-sjablonen">NL</a></li>
                                                <li><a href="/fr/modeles-site">FR</a></li>
                                                <li><a href="/it/modelli-web">IT</a></li>
                                                <li><a href="/es/plantillas-web">ES</a></li>
                                                <li><a href="/pl/szablony-internetowe">PL</a></li>
                                                <li><a href="/pt/modelos-site">PT</a></li>
                                                <li><a href="/tr/web-sitesi-sablonlari">TR</a></li>
                                                <li><a href="/ru/shablony-veb-saytov">RU</a></li>
                                                <li><a href="/hu/weboldal-sablonok">HU</a></li>
                                                <li><a href="/cs/sablony-webove-stranky">CS</a></li>
                                                <li><a href="/sv/webbplatsmallar">SV</a></li>
                                        </ul>
                                    </li>


<li><a href="/Editor/Account/LogOn" rel="nofollow">Войти</a></li><li class="divider-vertical"></li><li><a href="https://nicepage.com/Editor/Account/Register" rel="nofollow">Зарегистрироваться</a></li><li class="divider-vertical"></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            

            <section id="main" class="container-fluid">

    
    
            <div class="row">
                <div class="col-md-6">
                    <div class="templates-block">
                        <h2 class="lang"><a href="/ru/shablony-veb-saytov?pages=True">Категории шаблонов веб-сайтов</a>
                        </h2>
                        
<div class="thumbnail-slider">
    <div class="thumbnail-slider-viewport-wrapper">
        <div class="thumbnail-slider-viewport">
            <div class="thumbnail-slider-list">
                        <a href="/ru/c/khudozhestvennyy-dizayn-shablony-veb-saytov" data-title="Художественный дизайн">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Художественный дизайн Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/23/07/ru/html-shablon-23071.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/tekhnologii-shablony-veb-saytov" data-title="Технологии">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Технологии Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/31/08/ru/html-shablon-31086.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/eda-i-restoran-shablony-veb-saytov" data-title="Еда и Ресторан">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Еда и Ресторан Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/70/26/ru/html-shablon-70266.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/predprinimatelskoe-pravo-shablony-veb-saytov" data-title="Предпринимательское право">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Предпринимательское право Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/82/54/ru/html-shablon-82540.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/moda-i-krasota-shablony-veb-saytov" data-title="Мода и красота">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Мода и красота Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/26/81/ru/html-shablon-26813.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/obrazovanie-shablony-veb-saytov" data-title="Образование">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Образование Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/16/88/ru/html-shablon-16882.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/arkhitektura-i-stroitelstvo-shablony-veb-saytov" data-title="Архитектура и строительство">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Архитектура и строительство Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/48/82/ru/html-shablon-48825.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/interer-shablony-veb-saytov" data-title="Интерьер">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Интерьер Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/25/34/ru/html-shablon-25343.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/promyshlennye-shablony-veb-saytov" data-title="Промышленные">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Промышленные Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/60/52/ru/html-shablon-60525.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/puteshestviya-i-oteli-shablony-veb-saytov" data-title="Путешествия и отели">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Путешествия и отели Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/60/14/ru/html-shablon-60144.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/muzyka-i-razvlecheniya-shablony-veb-saytov" data-title="Музыка и развлечения">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Музыка и развлечения Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/24/28/ru/html-shablon-24285.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/avtomobili-i-transport-shablony-veb-saytov" data-title="Автомобили и транспорт">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Автомобили и транспорт Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/25/39/ru/html-shablon-25392.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/rasprodazha-shablony-veb-saytov" data-title="Распродажа">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Распродажа Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/83/73/ru/html-shablon-83730.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/vidy-sporta-shablony-veb-saytov" data-title="Виды спорта">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Виды спорта Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/81/17/ru/html-shablon-81178.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/priroda-shablony-veb-saytov" data-title="Природа">
                            <span style="width: 150px; height: 260px;">
                                <img alt="Природа Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/78/51/ru/html-shablon-78518.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/meditsina-i-nauka-shablony-veb-saytov" data-title="Медицина и наука">
                            <span style="width: 150px; height: 237px;">
                                <img alt="Медицина и наука Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/29/77/ru/html-shablon-29778.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/svadba-shablony-veb-saytov" data-title="Свадьба">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Свадьба Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/31/32/ru/html-shablon-31323.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/domashnie-zhivotnye-i-zhivotnye-shablony-veb-saytov" data-title="Домашние животные и животные">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Домашние животные и животные Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/66/64/ru/html-shablon-66646.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/nedvizhimost-shablony-veb-saytov" data-title="Недвижимость">
                            <span style="width: 150px; height: 275px;">
                                <img alt="Недвижимость Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/12/45/ru/html-shablon-12454.jpg" class="lazyload" />
                            </span>
                        </a>
                        <a href="/ru/c/portfolio-shablony-veb-saytov" data-title="портфолио">
                            <span style="width: 150px; height: 275px;">
                                <img alt="портфолио Шаблоны веб-сайтов" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-src="https://images01.nicepagecdn.com/page/25/55/ru/html-shablon-255570.jpg" class="lazyload" />
                            </span>
                        </a>

            </div>
        </div>
    </div>
    <a class="thumbnail-slider-control left off" href="#" rel="noopener" aria-label="thumbnail slider show more">
        <span class="thumbnail-slider-control-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.53 11.71L5.99 8.18a.25.25 0 0 1 0-.36L9.53 4.3a.75.75 0 1 0-1.06-1.06L4.93 6.76c-.68.69-.68 1.8 0 2.48l3.54 3.53a.75.75 0 0 0 1.06-1.06z"></path>
            </svg>
        </span>
    </a>
    <a class="thumbnail-slider-control right" href="#" rel="noopener" aria-label="thumbnail slider show more">
        <span class="thumbnail-slider-control-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M6.47 4.29l3.54 3.53c.1.1.1.26 0 .36L6.47 11.7a.75.75 0 1 0 1.06 1.06l3.54-3.53c.68-.69.68-1.8 0-2.48L7.53 3.23a.75.75 0 0 0-1.06 1.06z"></path>
            </svg>
        </span>
    </a>
</div>
