{% include 'example/base.html' %}
{% include 'example/header.html' %}
{% load static %}

<body>


    <section id="main" class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="templates-block">
            <h2 class="lang"><a href="/ru/shablony-veb-saytov?pages=True">Категории нейросетей</a>
            </h2>
            <div class="thumbnail-slider">
              <div class="thumbnail-slider-viewport-wrapper">
                <div class="thumbnail-slider-viewport">
                  <div class="thumbnail-slider-list">
                    <a href="/ru/c/tekhnologii-shablony-veb-saytov" data-title="Компьютерное зрение">
                      <span style="width: 200px; height: 275px;">
                        <img alt="Компьютерное зрение" src="{% static 'imgs/category/computer-with-eyes-777738911.png' %}" />
                      </span>
                    </a>
                    <a href="/ru/c/predprinimatelskoe-pravo-shablony-veb-saytov" data-title="Финансы">
                      <span style="width: 200px; height: 275px;">
                        <img alt="Финансы" src="{% static 'imgs/category/silver-bitcoin-coins-with-strong-arms-418450493.png' %}" />
                      </span>
                    </a>
                    <a href="/ru/c/khudozhestvennyy-dizayn-shablony-veb-saytov" data-title="Наука">
                      <span style="width: 200px; height: 275px;">
                        <img alt="Наука" src="{% static 'imgs/category/laboratory-with-robots-doing-science-staff-229959115.png' %}" />
                      </span>
                    </a>
                    <a href="/ru/c/moda-i-krasota-shablony-veb-saytov" data-title="Машинный перевод">
                      <span style="width: 200px; height: 275px;">
                        <img alt="Машинный перевод" src="{% static 'imgs/category/robot-translating-words-with-a-lot-of-books-of-foreign-language--267667720.png' %}" />
                      </span>
                    </a>
                    <a href="/ru/c/eda-i-restoran-shablony-veb-saytov" data-title="Графика">
                      <span style="width: 200px; height: 275px;">
                        <img alt="Графика" src="{% static 'imgs/category/grafi.png' %}" />
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            <h3 class="lang"><a href="/ru/shablony-veb-saytov?pages=True">Последние добавленные:</a>
            </h3>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
                    